body {
  background-color: rgb(4, 4, 136);
  font-family: Verdana, sans-serif;
  color: chocolate;
}

header {
  width: 230px;
  text-align: center;
  border-bottom: 4px dashed darkcyan;
  border-radius: 10px;
}

.container_box .box_item {
  background-color: rgba(33, 107, 107, 0.562);
  width: calc(90% / 4);
  border-radius: 50px;
}

.container_box .box_item:hover {
  background-color: rgb(33, 107, 107);
}

.container_box .box_item figure {
  width: 100%;
  overflow: hidden;
}

.container_box .box_item figure img {
  width: 90%;
  height: 90%;
  border: 5px solid red;
  border-radius: 50%;
  margin: 10px;
}

.container_box .box_item:hover figure img {
  width: 95%;
  height: 95%;
  margin: 5px;
}

figcaption {
  display: none;
}

button {
  width: 200px;
  color: darkgreen;
  font-weight: bold;
  padding: 2px;
  border-radius: 25px;
}

.container_box .box_item button {
  width: 100px;
}

.container_box p {
  font-weight: bold;
  font-size: 28px;
  color: rgb(57, 164, 179);
}

.container_box .box_item:hover p {
  color: rgb(9, 45, 110);
}
